<% layout('layout/boilerplate') %> 
    <div id="cluster-map"></div>


    <div class="container">
        <h1>All Campgrounds</h1>

        <% for (let campground of campgrounds){%>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <%if(campground.images.length) {%>
                            <img class="img-fluid" alt="" src="<%=campground.images[0].url%>">
                            
                            <% }else {%>
                                <img class="img-fluid" alt=""
                                    src="https://images.unsplash.com/photo-1497900304864-273dfb3aae33?q=80&w=915&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                                <% } %>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= campground.title %>
                            </h5>

                            <p class="card-text">
                                <%= campground.description %>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <%= campground.location%>
                                </small>
                            </p>
                            <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View
                                <%=campground.title%></a>
                        </div>
                    </div>
                </div>
            </div>
            <% }%>
    </div>


    <%- "<script>" %>
        const maptilerApiKey = "<%- process.env.MAPTILER_API_KEY %>";
            const campgrounds = {
            type: "FeatureCollection",
            features: <%- JSON.stringify( campgrounds.map(campground=> ({
                type: "Feature",
                geometry: campground.geometry,
                properties: { popUpMarkup: campground?.properties?.popUpMarkup }
                }))
                ) %>
                };
                <%- "</script>" %>

                    <script src="/javascripts/clusterMap.js"></script>


